<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Valor justo</title>
    


</head>
<body>
    <header>
        <nav>
            <a class="logo" href="/">LOGO</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="#">Inicio</a></li>
                
                <li><a href="#">Sobre Graham</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Calculadora do Graham</h1>
            
        <script src="mobile-navbar.js"></script>
    </main> 
    <footer>
        <div id="footer_content">
            <div id="footer_contact">
                <p>Logo</p>
                <p>It"s all about</p>

                <div id="footer_social">
                    <a href="#" class="footer-link" id="Instagram"> 
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="footer-link" id="Git"> 
                        <i class="fa-brands fa-github"></i>
                    </a>
            </div>
            
            </div>

            <ul class="footer-list">
                <li>Blog</li>
                <li><a href="#" class="footer-link">tec</a></li>
            </ul>
        </div>
    
    </footer>
</body>
</html>
